{{>header}}
{{>navbar}}
<script src="scripts/script.js"></script>
<br><br>
    <h1>Mis pintores preferidos</h1>
    <br><marquee behavior="alternate" direction="right">RECOMENDACIONES</marquee> <br><br>
    <table>
        <tr>
            <td><img src="images/index1.png" alt="siguiente" class="i"></td>
            <td> <img src="images/index2.png" alt="siguiente" class="i"></td>
        </tr>
        <tr>
            <td> <img src="images/index3.png" alt="siguiente" class="i"></td>
            <td><img src="images/index4.png" alt="siguiente" class="i"></td>
        </tr>
    </table>
    <br><br>
{{>footer}}